<div class="container">
    <h1>{{title}}</h1>
  
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-5" *ngFor="let cultura of culturas">
        <div class="card h-100">
          <div class="ratio ratio-4x3">
            <img [src]="cultura.photo"  class="card-img-top" alt="Recipe Photo " loading="lazy" routerLink="/cultura/{{cultura.id}}">
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
  
            <h5 class="card-title">{{ cultura.name }}</h5>
          <p class="card-text"><strong>Descripción:</strong> {{ cultura.description }}</p>
          <p><strong>Countries:</strong> {{cultura.countries}}</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  