<!doctype html>
<html>




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOOD ENTHUSIASTS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="caja">
        <h1><img src="/src/images/banner.png"></h1>
    </div>
    <header class="headerPrincipal">
        <div class="container">
            <h1 class="headerPrincipal-titulo">
                <a href="#">F O O D <br> E N T H U S I A S T S
                </a>
            </h1>

            <nav class="headerPrincipal-nav">
                <a class="headerPrincipal-nav-link" href="#">CULTURAS</a>
                <a class="headerPrincipal-nav-link" href="#">RECETAS</a>
                <a class="headerPrincipal-nav-link" href="#">PRODUCTOS</a>
                <a class="headerPrincipal-nav-link" href="#">RESTURANTES</a>
            </nav>
        </div>
    </header>
</body>